*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
html
{
	scroll-behavior: smooth;
}

body
{
	background-color: #ffffff
}

header {
height: 300px;
}

.container
{
	width: 950px;
	margin: 0% auto;
	background-color: rgb(245, 230, 212);
}

.text_block

{
    border: 5 solid black;
	width: 900px;
	padding: 40px;
	text-align: justify;
	margin: 0% auto;
	
}

p

{
	font-size: 23px;
	line-height: 30px;
	padding-bottom: 20px;
}

ol
{
	font-size: 23px;
	line-height: 25px;
	padding-bottom: 20px;

}

ul
{
	font-size: 23px;
	line-height: 25px;
	padding-bottom: 20px;
}

li
{
	padding-bottom: 25px;
	font-size: 23px;
}

.top
{font-size: 25px;
font-weight: 900;
color: black;

}

h1, h2, h3, h4, h5

{
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 700;
}

.source

{
	margin-top: -10px;
	padding-bottom: 20px;
	font-size: 18px;
	font-style: italic;
	color: seagreen;
}

h1

{
	font-size: 40px;
	
}

h2

{
	font-size: 35px;
}

h3

{
    font-size: 30px;
}

h4

{
	font-size: 25px;

}

h5

{
	font-size: 25px;
	font-style: italic;

}

.book_headers 
{
	color: red;
}

/* Меню */

.menu a
{text-decoration: none;}

.menu a .parent
{margin: 0px 20px 0px 0px;}

.menu li
{position: relative;}

.menu_list
{display: flex;}

.menu_list>li
{margin: 0px 40px 0px 0px;}

.menu_link
{color: #ffffff;}

.sub-menu_list
{
display: none;
position: absolute;
left: 0;
top: 20px;
padding: 20px 0px 0px 0px;
min-width: 300px;
cursor: pointer;


}

.sub-menu_list>li{
background-color: #757575;

}

.sub-menu_link
{color: #000000;
	display: block;
	padding: 5px 10px;
	cursor: pointer;
	}

.arrow

{
display: none;
position: absolute;
right: 0;
top: 12px;
width: 0;
height: 0;
border-top: 10px solid #ffffff;
border-right: 10px solid transparent;
border-left: 10px solid transparent;
}
.arrow.active{
	transform: rotate(-180deg);
}

body.mouse .menu_list>li:hover .sub-menu_list {
	display: block;
	
}

body.touch .sub-menu_list.open
{display: block;
	}

body.touch .arrow {
	display: block;
	}

